<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hello">

    <!-- 系统日历读写权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!--设置闹钟权限-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许改变WIFI状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--文件删除和修改权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--手机定位信息，用来为语义等功能提供定位，提供更精准的服务-->
    <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".application.HelloApplication"
        android:allowBackup="true"
        android:icon="@mipmap/image_logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppStyle" />

        <activity
            android:name=".view.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppStyle" />

        <activity
            android:name=".view.activity.BookActivity"
            android:label="@string/title_activity_interest"
            android:theme="@style/AppStyle" />

        <activity
            android:name=".view.activity.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppStyle" />

        <activity
            android:name=".view.activity.WebViewActivity"
            android:theme="@style/AppStyle" />

        <activity
            android:name=".view.activity.NoteCreateActivity"
            android:keepScreenOn="true"
            android:label="@string/title_activity_note"
            android:theme="@style/AppStyle"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activity.SportActivity"
            android:label="@string/title_activity_sport"
            android:theme="@style/AppStyle" />

        <activity
            android:name=".view.activity.AboutActivity"
            android:label="@string/menu_aboutUs"
            android:theme="@style/AppStyle" />

        <activity
            android:name=".view.activity.KeepLifeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/KeepLifeActivityStyle" />

        <service android:name=".view.service.WakeUpService" />

        <service android:name=".view.service.VoiceService" />

        <service android:name=".view.service.BackupService" />

        <receiver android:name=".receiver.WakeUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 这地方需要用你在开放平台申请的appid:tencent+appid -->
                <data android:scheme="tencent1106738863" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5d3764b815a05b7ad9a16b94664279a9" />
    </application>

</manifest>